<script>
	import Next from "$lib/components/next.svelte";
</script>

# installation 

ditto has cross-platform support. installation depends on your os:

## linux 

install via the binaries in [releases](https://github.com/arvingarciabtw/ditto/releases).

or install with go:

```sh
go install github.com/arvingarciabtw/ditto/cmd/ditto@latest
```

or via the flake for nix users:

```nix
{
  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";

    ditto = {
      url = "github:arvingarciabtw/ditto";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  # ...
}
```

or install via the aur:

```sh
paru -S ditto
```

## macOS 

install via the binaries in [releases](https://github.com/arvingarciabtw/ditto/releases).

take note that you have to rename your binary to something else, since `ditto` is a native command in macOS.

## windows 

install via the binaries in [releases](https://github.com/arvingarciabtw/ditto/releases).


<Next url="/permissions" label="permissions" />
