<script>
	import Next from "$lib/components/next.svelte";
</script>

# visual

<!-- NOTE: add gif here -->

press `v` to toggle between ascii and box-draw rendering. the selected style applies to the keyboard in default mode and the keys shown in keycast mode.

ditto uses your terminal palette so it fits your existing color scheme.

## ascii

if you prefer a traditional, more disconnected look, then use the ascii visual.

## box-draw 

if you prefer a smoother look, then use the box-draw visual which uses box drawing characters.

<Next url="/lists" label="lists" />
